# Azure ML
azureml-core>=1.15.0
azureml-dataprep
azureml-mlflow
azureml-widgets

# test
papermill
black

# basic
pandas
matplotlib
graphviz
scikit-learn
jupyter

# algos
lightgbm

# explain
interpret
interpret-community
raiwidgets

# lime
# dash
# dash_cytoscape

