azureml-core>=1.15.0
azureml-dataprep
azureml-mlflow
azureml-widgets

papermill
black

pandas
lightgbm
matplotlib
graphviz
scikit-learn
jupyter

lime
dash
dash_cytoscape
# gevent

interpret-community
raiwidgets
